header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background-color:#0d1623;
    color:rgb(30, 109, 155);
    border-radius: 30px;
  }
  
  header h2{
    font-size:24px;
  }
  
  nav a{
    margin-left:20px;
    text-decoration:none;
    color:white;
    font-weight:500;
  }
  
  nav a:hover{
    color:#a35b13;
  }